body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0 auto;
  }
  

header {
    padding: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
}
  
section {
    left: 0;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    font-size: 12pt;
    color: white;   
}
  
nav {
    position: relative;
    margin: 0%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 200px 20px 200px 20px;
    background: url(../img/top-header.png) #161616 top right no-repeat;
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    list-style: none;
    } 
    li {
        color: white;
        position: relative;
        margin: 0.5rem 0;
        list-style: none;
    }
    
    a {
        line-height: 5em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.4em;
        color: white;
        display: block;
        transition: all ease-out 300ms;
    }
    
    .active a {
        color: rgb(255, 123, 0);     
    }
    
    :not(.active)::after {
        color: white;
        opacity: 0.2;
    }
    
    :not(.active):hover a {
        color: rgba(#FFF, 0.75);
    }

article.home {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding-top: 20%;
    padding-left: 20%;
    padding-bottom: 20%;
    text-align: left;
    text-transform: uppercase;
    background-image: url(https://i.pinimg.com/originals/e7/f0/85/e7f08598eff82f3672c7c00277cb7df2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160%;
    font-size: 36pt;
}

article.sobre {
    margin: 0px auto;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10%;
    background-color: #161616;
    text-align: left;
}

article.cidades {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10%;
    background-color: #161616;
    text-align: left;
}

article.contato {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10%;
    background-color: #161616;
    text-align: left;
}

.cidade1 {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding-top: 30px;
}

.cidade2 {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding-top: 30px;
}

.cidade3 {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding-top: 30px;
}

.info2 {
    text-align: right;
}

.bandeira {
    max-width: 64px;
}
 
@media (max-width: 600px) {
    section {
    -webkit-flex-direction: column;
    flex-direction: column;
    }
    nav {
        padding: 50px 20px 50px 20px;
    }
    a {
        line-height: 2em;
    }
}