body {
      background-image: url(https://wallpaper.dog/large/20500272.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 300%;
  }

.linha {
      clear: both;
      padding: 20px 20px 20px 20px;
}

.tudo { 
      width: 80%;
      margin: 0 auto;
      padding: 30px 30px 30px 30px;
      border: solid 1px;
      position: relative;    
      font-family: sans-serif;
}

  /* blocos superiores */

.blocossuperiores {
      border: solid 1px;
}

.blocosinferiores {
    border: solid 1px;
}

  /* blocos superior esquerdo */

.blocoesqsup {
    width: 65%;
    border: solid 1px;
    float: left;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
      }

.conteudoesqsup {
    padding: 35px 35px 35px 35px;
}

.conteudoesqinf {
    padding: 35px 35px 35px 35px;
}

.conteudodirinf {
    padding: 35px 35px 35px 35px;
}

.sobre {
  margin-top: 5%;
}
      
.hobbies {
    margin-top: 3%;
}
      
.ultimopost {
    margin-top: 3%;
}
      
.icones {
    margin-top: 2%;
}

  /* blocos superior direito */

.conteudodir {
    padding: 35px 35px 35px 35px;
}

.blocodirsup{
    width: 31%;
    height: 20%;
    border: solid 1px;
    float: right;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.foto {
    padding: 30px 30px 30px 30px ;
    text-align: center;
}

.fotoend {
    width: 100%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }
    
  .bgfoto {
    background: rgb(5, 6, 45);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

.dados {
    color: white;
    margin-top: 5%;
    font-size: 12px;   
}

.iconesdir {
      padding-top: 41px;
}

  /* blocos inferiores */

.blocoesqinf {
    width: 31%;
    float: left;
    background-color: white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.blocodirinf {
    width: 65%;
    float: right;
    background-color: white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.dados {
  font-size: 8pt;
}


#h1sobre {
  font-weight: bold;
  font-size: 26px;
  color: white;
}

#h1hab {
  font-weight: bold;
  font-size: 26px;
  color: white;
}

#h1educacao {
  font-weight: bold;
  font-size: 26px;
  color: white;
  margin-top: 3%;
}

#h1escolas {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-top: 5%;
}

#h2data {
  float: right;
  font-weight: bold;
  font-size: 24px;
  color: darkgray;
}

#h3escolas {
  font-size: 12px;
  color: gray;
  margin-top: 2px;
}

#h1skills {
  font-weight: bold;
  font-size: 26px;
  color: white;
  margin: 3;
}

#h2sobre {
  font-weight: normal;
  font-size: 26px;
  color: white;
}

#psobre {
  font-family: FreeMono, monospace;
  color: white;
}

#end {
  max-width: 100%;
  border-radius: 50%;
}

#setas {
  margin-top: 50px;
  width: 30px;
}

#h1skills {
     margin-top: 6%;
}

#h1tipodehab {
    color: white;;
    float: right;
}

#iconessobre {
    max-width: 20px;
}

#iconeskill {
    max-width: 20px;
}

#icons1 {
    max-width: 180%;
}

#icons2 {
    max-width: 150%;
}

#social {
    max-width: 2.3rem;
    justify-content: space-evenly;
    margin: 0.2rem;
}

#barra {   
    float: left;
    width: 20px;
}

#barradir {   
  float: right;
  width: 20px;
}
