header {
    flex-wrap: nowrap;
    width: 20rem;
    position: absolute;
    height: 100%;
    background: #1d1d1d;
    font-size: 1rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: url(../img/top-header.png) #0d0d0d top right no-repeat;
}



nav {
    position: relative;
    margin: 0 15%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

nav ul {
    position: relative;
    list-style: none;
    }  
    li {
        color: white;
        position: relative;
        margin: 0.5rem 0;
        list-style: none;
    }
    
    a {
        line-height: 5em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.4em;
        color: rgba(rgb(255, 255, 255), 0.35);
        display: block;
        transition: all ease-out 300ms;
    }
    
    .active a {
        color: rgb(255, 123, 0);     
    }
    
    :not(.active)::after {
        color: white;
        opacity: 0.2;
    }
    
    :not(.active):hover a {
        color: rgba(#FFF, 0.75);
    }

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
    header {
        flex-wrap: wrap;
    }
}