body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 1.58;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 250px;
    width: 100%;
}

.bi{
    color: white;
}