* {
    margin: 0 auto;
}

a, a:link, a:hover, a:visited{
    text-decoration: none;
    color: #ffffff;
}

body{
    background-color: #e2e2e2;
}

.divTudo{
    font-family: Arial, Helvetica, sans-serif;
}

.divLinha{
    clear: both;
}

.h2TituloSessao{
    font-size: 20px;
    margin: 15px 720px 10px 10px;
    text-align: center;
}

table, td, th {
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse;
    padding: 7px 7px 7px 7px;
}

th{
    color: rgb(103, 100, 100);
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}


td{
    font-size: 14px;
    text-align: center;
}

.imgClube{
    width: 20px;
    height: 20px;
}

/* estilos do cabeçalho geral */

#divCabecalho{
    background-color: #162E58;
    min-height: 100px;
    padding: 10px 40px 40px 10px;
    position: relative;
    text-align: left;
}

#h1TituloCabecalho{
    color: #ffffff;
    float: left;
    min-width: 50%;
    font-size: 20px;
    text-align: left;
    padding: 10px 20px 10px 20px;
}

.divMenu{
    position: absolute;
    bottom: 0;
    width: 80%;
    clear: both;
    text-align: center;
    padding-left: 21%;
    padding-right: 21%;
}

.itemMenu{
    float: left;
    color: #ffffff;
    text-align: center;
    width: 12.5%;
    height: 50px;
}

.itemMenu:hover{
    background-color: rgb(81, 78, 78);
    width: 130px;
    height: 30px;
}


/*estilos classificação*/

#divClassificacao{
    width: 50%;
}

#tableClassificacao{
    width: 60%;
    background-color: #ffffff;
}

.h3TituloGrupo{
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}

.thNomeClube{
    width: 50%;
    text-align: left;
    padding: 10px 10px 5px 20px;
    font-size: medium;
}

.thJogador{
    text-align: left;
    padding: 15px 25px 5px 30px;
    font-size: medium;
}

.tdPosicao{
    width: 3%;
    font-size: 14x;
}

.tdNomeClube{
    text-align: left;
}

.tdImgClube{
    width: 5%;
}

.thUltimas{
    width: 15%;
}

.divEmp{
    background-image: url("../img/e.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 5px;
}

.divDer{
    background-image: url("../img/d.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 5px;
}

.divVit{
    background-image: url('../img/v.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 5px;
}

/*estilos goleadores*/

#divGoleadores{
    width: 50%;
}

#tableGoleadores{
    width: 60%;
    background-color: #ffffff;
}

#tableGoleadores td{
    padding: 15px 15px 15px 5px;
}

.tdJogador{
    text-align: left;
    width: 90%;
}

.spanNomeClube{
    color: rgb(98, 95, 95);
    font-size: 13px;
}

/*estilos de jogos*/

#divJogos{
    width: 60%;
    padding-bottom: 50px;
}

#tableJogos{
    width: 100%;
    background-color: #ffffff;
}

#tableJogos .tdTableJogos{
    padding: 10px 10px 40px 10px;
}

#tableJogos .tdTableJogo{
    width: 100%;
}

/*estilo da tabela de cada jogo*/

.tableJogo .thTableJogo{
    text-align: left;
}

.tableJogo .tdClube{
    text-align: left;
    width: 100%;
}

.tableJogo .tdHorario{
    text-align: left;
    font-size: 10px;
}

#tableJogos th, #tableJogos td{
    border-bottom: 0px;
}

#thProximosJogos{
    padding: 15px 30px 10px 25px ;
    text-align: left;
    font-size: medium;
    color: rgb(81, 78, 78);
}

